# Dependências
node_modules/

# Build
frontend/dist/

# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
*.egg-info/
venv/
.env

# Logs
*.log

# OS
.DS_Store
Thumbs.db

# VSCode
.vscode/

# Arquivos temporários do backend
nul
